 body{
  background: #FFFAE6;
} 

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text content */
}

.inputBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%; /* Full width to allow proper centering */
  /* height: 25vh; Half viewport height for better centering control */
}

.timer {
  margin-top: 20px; /* Add some space between the InputBox and Timer */
}
