.inputText {
  height: 300px;
  width: 100%;
  outline: none;
  border: 0;
  background-color: #fff;
  outline-offset: 3px;
  transition: 0.25s;
  resize: none;
  box-sizing: border-box;
  padding: 5px;
}

.inputText:focus {
  /* outline-offset: 5px; */
  outline: none;
  background-color: #fff;
}
.wrap:focus {
 background-color: #fff;
}

.wordCount {
  color: blue;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
}

.wrap {
  display: flex;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  background-color: #fff;
  flex-direction: column;
  border: 2px solid #002379;
  overflow: hidden;
}
.time {
  color: #ff5f00;
  margin-top: -9px;
}

.customButton {
  color: yellow;
  background-color: black;
}

@media (max-width: 600px) {
  .wordCount {
    margin-top: 0em;
    margin-left: 0em;
  }
}